d1_SpMV
d2_SpMV
mpi_spmv_results.csv
mpi_weak_scaling.csv
/build/
/thirdparty/*
!/thirdparty/getmatrices.sh
!/thirdparty/mmio
/plots/*
!/plots/plot.py
!/plots/mpi_plot.py
!/plots/mpi_plot_weak.py
compile_commands.json

